@model BarterEvolution.Infrastructure.Inventario

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>Inventario</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdInventario" />
            <div class="form-group">
                <label asp-for="Cantidad" class="control-label"></label>
                <input asp-for="Cantidad" class="form-control" />
                <span asp-validation-for="Cantidad" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdArticulo" class="control-label"></label>
                <select asp-for="IdArticulo" class="form-control" asp-items="ViewBag.IdArticulo"></select>
                <span asp-validation-for="IdArticulo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdCondicionArticulo" class="control-label"></label>
                <select asp-for="IdCondicionArticulo" class="form-control" asp-items="ViewBag.IdCondicionArticulo"></select>
                <span asp-validation-for="IdCondicionArticulo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdCategoria" class="control-label"></label>
                <select asp-for="IdCategoria" class="form-control" asp-items="ViewBag.IdCategoria"></select>
                <span asp-validation-for="IdCategoria" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdEstadoArticulo" class="control-label"></label>
                <select asp-for="IdEstadoArticulo" class="form-control" asp-items="ViewBag.IdEstadoArticulo"></select>
                <span asp-validation-for="IdEstadoArticulo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
