@model BarterEvolution.Infrastructure.Contratos

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>Contratos</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="NoContrato" class="control-label"></label>
                <input asp-for="NoContrato" class="form-control" />
                <span asp-validation-for="NoContrato" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CedulaCliente" class="control-label"></label>
                <select asp-for="CedulaCliente" class ="form-control" asp-items="ViewBag.CedulaCliente"></select>
            </div>
            <div class="form-group">
                <label asp-for="CedulaUsuario" class="control-label"></label>
                <select asp-for="CedulaUsuario" class ="form-control" asp-items="ViewBag.CedulaUsuario"></select>
            </div>
            <div class="form-group">
                <label asp-for="FechaInicio" class="control-label"></label>
                <input asp-for="FechaInicio" class="form-control" />
                <span asp-validation-for="FechaInicio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FechaVencimiento" class="control-label"></label>
                <input asp-for="FechaVencimiento" class="form-control" />
                <span asp-validation-for="FechaVencimiento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PlazoEstipulado" class="control-label"></label>
                <input asp-for="PlazoEstipulado" class="form-control" />
                <span asp-validation-for="PlazoEstipulado" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdArticulo" class="control-label"></label>
                <select asp-for="IdArticulo" class ="form-control" asp-items="ViewBag.IdArticulo"></select>
            </div>
            <div class="form-group">
                <label asp-for="IdCondicionContrato" class="control-label"></label>
                <select asp-for="IdCondicionContrato" class ="form-control" asp-items="ViewBag.IdCondicionContrato"></select>
            </div>
            <div class="form-group">
                <label asp-for="NoProrroga" class="control-label"></label>
                <select asp-for="NoProrroga" class ="form-control" asp-items="ViewBag.NoProrroga"></select>
            </div>
            <div class="form-group">
                <label asp-for="ValorContrato" class="control-label"></label>
                <input asp-for="ValorContrato" class="form-control" />
                <span asp-validation-for="ValorContrato" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
