@model BarterEvolution.Infrastructure.Ventas

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>Ventas</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="NoFactura" class="control-label"></label>
                <input asp-for="NoFactura" class="form-control" />
                <span asp-validation-for="NoFactura" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FechaFactura" class="control-label"></label>
                <input asp-for="FechaFactura" class="form-control" />
                <span asp-validation-for="FechaFactura" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PrecioUnitario" class="control-label"></label>
                <input asp-for="PrecioUnitario" class="form-control" />
                <span asp-validation-for="PrecioUnitario" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cantidad" class="control-label"></label>
                <input asp-for="Cantidad" class="form-control" />
                <span asp-validation-for="Cantidad" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SubTotal" class="control-label"></label>
                <input asp-for="SubTotal" class="form-control" />
                <span asp-validation-for="SubTotal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Iva" class="control-label"></label>
                <input asp-for="Iva" class="form-control" />
                <span asp-validation-for="Iva" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ValorTotal" class="control-label"></label>
                <input asp-for="ValorTotal" class="form-control" />
                <span asp-validation-for="ValorTotal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CedulaCliente" class="control-label"></label>
                <select asp-for="CedulaCliente" class ="form-control" asp-items="ViewBag.CedulaCliente"></select>
            </div>
            <div class="form-group">
                <label asp-for="CedulaUsuario" class="control-label"></label>
                <select asp-for="CedulaUsuario" class ="form-control" asp-items="ViewBag.CedulaUsuario"></select>
            </div>
            <div class="form-group">
                <label asp-for="IdArticulo" class="control-label"></label>
                <select asp-for="IdArticulo" class ="form-control" asp-items="ViewBag.IdArticulo"></select>
            </div>
            <div class="form-group">
                <label asp-for="IdEstadoArticulo" class="control-label"></label>
                <select asp-for="IdEstadoArticulo" class ="form-control" asp-items="ViewBag.IdEstadoArticulo"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
