@model BarterEvolution.Infrastructure.Clientes

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>Clientes</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="IdDocumento" class="control-label"></label>
                <select asp-for="IdDocumento" class ="form-control" asp-items="ViewBag.IdDocumento"></select>
            </div>
            <div class="form-group">
                <label asp-for="IdTipocliente" class="control-label"></label>
                <select asp-for="IdTipocliente" class ="form-control" asp-items="ViewBag.IdTipocliente"></select>
            </div>
            <div class="form-group">
                <label asp-for="Nombrecliente1" class="control-label"></label>
                <input asp-for="Nombrecliente1" class="form-control" />
                <span asp-validation-for="Nombrecliente1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Apellidocliente1" class="control-label"></label>
                <input asp-for="Apellidocliente1" class="form-control" />
                <span asp-validation-for="Apellidocliente1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Genero" class="control-label"></label>
                <select asp-for="Genero" class ="form-control" asp-items="ViewBag.Genero"></select>
            </div>
            <div class="form-group">
                <label asp-for="DireccionResidencia" class="control-label"></label>
                <input asp-for="DireccionResidencia" class="form-control" />
                <span asp-validation-for="DireccionResidencia" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ciudad" class="control-label"></label>
                <input asp-for="Ciudad" class="form-control" />
                <span asp-validation-for="Ciudad" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdLocalidad" class="control-label"></label>
                <select asp-for="IdLocalidad" class ="form-control" asp-items="ViewBag.IdLocalidad"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
