@model BarterEvolution.Infrastructure.Clientes

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="row">
    <div class="col-12">
        <h6 class="tituloformulario">CONSULTAR CLIENTE</h6>
        <hr class="lineatitulo">
    </div>
    <div class="col-12">
        <form >
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="cajaform row">
                <div class="col-12 tit">Informacion Personal</div>

                <div class="col-6">
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <label class="input-group-text " asp-for="IdDocumento">Tipo de Documento:</label>
                            </div>
                            <input type="text" class="form-control" asp-for="IdDocumento" disabled/>
                        </div>
                    </div>
                </div>

                <div class="col-6">
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <label class="input-group-text" asp-for=" CedulaCliente">Cedula Cliente:</label>
                            </div>
                            <input type="text" class="form-control" asp-for="CedulaCliente" disabled />
                        </div>
                    </div>
                </div>

                <div class="col-6">
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <label class="input-group-text" asp-for="Genero">Genero:</label>
                            </div>
                            <input type="text" class="form-control" asp-for="Genero" disabled />
                        </div>
                    </div>
                </div>

                <div class="col-6">
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <label class="input-group-text" asp-for="IdTipocliente">Tipo Cliente:</label>
                            </div>
                            <input type="text" class="form-control" asp-for="IdTipocliente" disabled />
                        </div>
                    </div>
                </div>

            </div>

            <div class="cajaform row">
                <div class="col-12 tit"> Nombres Completos</div>

                <div class="col-6">
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <label class="input-group-text" asp-for="Nombrecliente1">Primer Nombre:</label>
                            </div>
                            <input type="text" class="form-control" asp-for="Nombrecliente1" disabled />
                        </div>
                    </div>
                </div>

                <div class="col-6">
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <label class="input-group-text" asp-for="Nombrecliente2">Segundo Nombre:</label>
                            </div>
                            <input type="text" class="form-control" asp-for="Nombrecliente2" disabled />
                        </div>
                    </div>
                </div>

                <div class="col-6">
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <label class="input-group-text" asp-for="Apellidocliente1">Primer Apellido:</label>
                            </div>
                            <input type="text" class="form-control" asp-for="Apellidocliente1"  disabled />
                        </div>
                    </div>
                </div>

                <div class="col-6">
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <label class="input-group-text" asp-for="Apellidocliente2">Segundo Apellido:</label>
                            </div>
                            <input type="text" class="form-control" asp-for="Apellidocliente2"  disabled />
                        </div>
                    </div>
                </div>


            </div>

            <div class="cajaform row">
                <div class="col-12 tit">Ubicación</div>

                <div class="col-6">
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <label class="input-group-text " asp-for="DireccionResidencia">Dirección:</label>
                            </div>
                            <input type="text" class="form-control" asp-for="DireccionResidencia"  disabled/>
                        </div>
                    </div>
                </div>

                <div class="col-6">
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <label class="input-group-text" asp-for="IdLocalidad">Localidad:</label>
                            </div>
                            <input type="text" class="form-control" asp-for="IdLocalidad" disabled />
                        </div>
                    </div>
                </div>

                <div class="col-6">
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <label class="input-group-text" asp-for="Ciudad">Ciudad:</label>
                            </div>
                            <input type="text" class="form-control" asp-for="Ciudad" disabled/>
                        </div>
                    </div>
                </div>



            </div>

            <div class="cajaform row">
                <div class="col-12 tit">Información de Contacto</div>

                <div class="col-6">
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <label class="input-group-text " asp-for="TelefonoMovil">Teléfono Movil:</label>
                            </div>
                            <input type="text" class="form-control" asp-for="TelefonoMovil" disabled/>
                        </div>
                    </div>
                </div>

                <div class="col-6">
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <label class="input-group-text" asp-for="Email">Email:</label>
                            </div>
                            <input type="text" class="form-control" asp-for="Email" disabled/>
                        </div>
                    </div>
                </div>


            </div>
            <div class="row cajaboton">
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">|
                    <a class="btnmodificar" asp-action="Edit" asp-route-id="@Model.CedulaCliente">Modificar</a>
                </div>


                <div class="col-lg-4 col-md-4 col-sm-none col-xs-none"></div>
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 botones">
                    <a class="btnverlista" asp-action="Index">Ver lista</a>
                </div>
            </div>
        </form>
    </div>
</div>

